{% extends "core/form_base.html" %}

{% block form_title %}
Cadastro de Cliente
{% endblock %}

{% block form_fields %}

<div class="col-12">
    <label class="form-label">Nome</label>
    {{ form.nome }}
</div>

<div class="col-md-6">
    <label class="form-label">CPF / CNPJ</label>
    {{ form.cpf_cnpj }}
</div>

<div class="col-md-6">
    <label class="form-label">Telefone</label>
    {{ form.telefone }}
</div>

<div class="col-md-6">
    <label class="form-label">E-mail</label>
    {{ form.email }}
</div>

<div class="col-md-6">
    <label class="form-label">Endereço</label>
    {{ form.endereco }}
</div>

{% endblock %}

{% block cancel_url %}
{% url 'cliente_lista' %}
{% endblock %}
