{% extends "core/form_base.html" %}

{% block form_title %}
Cadastro de Equipamento
{% endblock %}

{% block form_fields %}

<div class="col-md-6">
    <label class="form-label">Cliente</label>
    {{ form.cliente }}
</div>

<div class="col-md-6">
    <label class="form-label">Tipo</label>
    {{ form.tipo }}
</div>

<div class="col-md-6">
    <label class="form-label">Marca</label>
    {{ form.marca }}
</div>

<div class="col-md-6">
    <label class="form-label">Modelo</label>
    {{ form.modelo }}
</div>

<div class="col-md-6">
    <label class="form-label">Número de Série</label>
    {{ form.numero_serie }}
</div>

<div class="col-12">
    <label class="form-label">Descrição</label>
    {{ form.descricao }}
</div>

{% endblock %}

{% block cancel_url %}
{% url 'equipamento_lista' %}
{% endblock %}
