{% extends "core/form_base.html" %}

{% block form_title %}
Ordem de Serviço
{% endblock %}

{% block form_fields %}

<div class="col-md-6">
    <label class="form-label">Equipamento</label>
    {{ form.equipamento }}
</div>

<div class="col-md-6">
    <label class="form-label">Técnico</label>
    {{ form.tecnico }}
</div>

<div class="col-md-4">
    <label class="form-label">Status</label>
    {{ form.status }}
</div>

<div class="col-12">
    <label class="form-label">Defeito relatado</label>
    {{ form.defeito_relatado }}
</div>

<div class="col-12">
    <label class="form-label">Diagnóstico</label>
    {{ form.diagnostico }}
</div>

<div class="col-12">
    <label class="form-label">Solução</label>
    {{ form.solucao }}
</div>

<div class="col-md-4">
    <label class="form-label">Valor do serviço</label>
    {{ form.valor_servico }}
</div>

{% endblock %}

{% block cancel_url %}
{% url 'os_lista' %}
{% endblock %}
